@use "core/reset";

body {
    background-color: black;
    min-width: 375px;
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.back {
    width: 80%;
    margin: auto;
    display: block;
    text-align: right;
    padding: 2px 10px;
    color: white;
}
