.container {
    width: 80%;
    background-color: #07B0C7;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    @media (min-width: 768px){
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .detail {
        padding: 30px 30px 12px;
        gap: 30px;
        display: flex;
        align-items: center;
        
        @media (min-width: 768px){
            flex-direction: row;
            padding: 30px;
            gap: 5px;
        }
    
        &__image {
            width: 100%;
            border-radius: 50%;
            border: 3px solid #07B0C7;
            outline: 2px solid #51A13C;
            box-shadow: 0 0 35px #51A13C;
        }
    
        &__character {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            color: white;
            padding: 10px;

            @media (min-width: 768px){
                display: flex;
                padding: 30px;
                gap: 5px;
                font-size: 20px;
            }
        }
    }
}

